<app-navBar></app-navBar>


<div class="container">


<!-- <app-Home></app-Home> -->
<div style="min-height: 80vh;">
<router-outlet></router-outlet>
</div>

</div>


<div class="footer" style="background-color: rgb(66, 57, 57); margin-top: 10px;">
    <ul>
      <li style="display:inline-block"><i class="fab fa-facebook-square"></i></li>
      <li style="display:inline-block"><i class="fab fa-twitter-square"></i></li>
      <li style="display:inline-block"><i class="fab fa-google-plus-g"></i></li>
    </ul>
    
    </div>