<!-- <div *ngFor="let message of messages">

  {{message.content}}
</div> -->

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex">
      <div class="col-md-6">
        <div class="card card-bordered">
          <div class="card-header">
            <h4 class="card-title"><strong>Chat</strong></h4> <a class="btn btn-xs btn-secondary" href="#"
              data-abc="true">Friends Chat</a>
          </div>
          <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
            style="overflow-y: scroll !important; height:400px !important;">

            <div *ngFor="let message of messages" class="media media-chat"
              [ngClass]="{'media-chat-reverse':message.senderId!=userId}"> <img class="avatar"
                src="{{message.senderPhotoUrl?message.senderPhotoUrl:'/assets/images/facebook-user-icon-17.jpg'}}" alt="...">

              <div class="media-body">
                <p>{{message.content}}</p>
                 <p class="meta" style="font-size: .9rem;"><time datetime="2018">{{message.messageSent |
                    date:'medium'}}</time></p> 
                <p class="meta text-danger" style="font-size: .8rem; margin-top: 5px;"
                  *ngIf="message.senderId==user.id &&message.isRead==false">(Unread)</p>

                  <p class="meta text-success" style="font-size: .8rem; margin-top: 5px;"
                  *ngIf="message.senderId==user.id &&message.isRead==true">(read at {{message.dateRead| date:'medium'}} )</p>


              </div>

            </div>



            <!-- <div class="media media-meta-day">Today</div> -->
            <!-- <div class="media media-chat media-chat-reverse">
                          <div class="media-body">
                              <p>Hiii, I'm good.</p>
                              <p>How are you doing?</p>
                              <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                              <p class="meta"><time datetime="2018">00:06</time></p>
                          </div>
                      </div> -->






            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
              <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
            </div>
          </div>


<form #messageForm="ngForm" (ngSubmit)="sendMessage()">
          <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="{{user.photoUrl?user.photoUrl:'/assets/images/facebook-user-icon-17.jpg'}}" alt="...">

            
            <input class="publisher-input float-left" type="text" placeholder="Write something" name="content" [(ngModel)]="newMessage.content">
            <button class="publisher-btn text-info float-right"  type="submit" data-abc="true" [disabled]="!messageForm.valid"><i class="fa fa-paper-plane"></i></button>
          
          </div>
</form>

        </div>
      </div>
    </div>
  </div>
</div>